EPSB=0.00001
EPRB=0.00001
SENT_MESSAGE_SIZE=16
RECEIVED_MESSAGE_SIZE=16
NUMBER_OF_NODES=100
NUMBER_OF_GATEWAYS=10
NUMBER_OF_MIN_POSSIBLE_NEIGHBORS=10
NUMBER_OF_MAX_POSSIBLE_NEIGHBORS=30
NUMBER_OF_GATEWAY_MEMBERS=10
ENCRYPTION_ENERGY=1.62
DECRYPTION_ENERGY=2.49
KEY_RING_SIZE=58
KEY_POOL_SIZE=1000
NODE_ID_SIZE=4
MESSAGE_TYPE_SIZE=1
NONCE_SIZE=4